:root {
    --components-container-width: 230px;
    --actions-container-width: 320px;
}

body {
    height: 98vh;
}

#main-container {
    display: flex;
    height: 100%;
    min-height: 400px;
}

#components-container {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    margin-right: 5px;
    padding: 10px;

    width: var(--components-container-width);
    min-width: var(--components-container-width);

    overflow-y: auto;
}

#app-container-fixed {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    width: calc(100% - var(--components-container-width) - var(--actions-container-width));
    min-width: 400px;

    background: linear-gradient(-45deg, black 5%, #ffffff 5% 45%, black 45% 55%, #ffe1f3 55% 95%, black 95%);
    background-size: 5px 5px;

    overflow: auto;
}

.dom-element {
    box-sizing: border-box
}

.dom-element:not(:last-child) {
    margin-bottom: 5px;
}

.dom-element-container {
    padding: 10px;
    margin: 0px;
    border: dashed 1px black;
    width: 100%;
    display: block;
}

.dom-element-container:hover {
    border: dashed 1px red;
}

.dom-element-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    width: 100%;
}

.dom-element-input:hover {
    border: 1px solid red;
}

.dom-element-button {
    padding: 10px;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.dom-element-button:hover {
    opacity: 0.6
}

.update-dom-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 0px 10px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(135, 135, 135);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
}

#actions-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    margin-left: 5px;
    padding: 10px;

    width: var(--actions-container-width);
    min-width: var(--actions-container-width);

    overflow-y: auto;
}

.update-dom-elements > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#actions-container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 0px 10px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(135, 135, 135);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
}

#actions-container *:not(label, div),
.update-dom-elements *:not(label, div) {
    margin-bottom: 5px;
}

#actions-container label{
    margin: 3px;
    color: rgb(46, 60, 255);
}

.update-dom-elements label {
    margin: 5px 0px;
    padding: 3px;
    color: rgb(46, 60, 255);
}

#actions-container input,
#actions-container select {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    box-shadow: rgb(221, 221, 221) 0px 1px 3px inset;
    /* width: 100%; */
    text-align: center;
    color: rgb(46, 60, 255);
}

.update-dom-elements input,
.update-dom-elements select {
    box-sizing: border-box;
    padding: 5px 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    box-shadow: rgb(221, 221, 221) 0px 1px 3px inset;
    width: 100%;
    text-align: center;
    color: rgb(46, 60, 255);
}

.update-dom-elements input[type=number]::-webkit-inner-spin-button,
.update-dom-elements input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#actions-container input[type=color],
.update-dom-elements input[type=color] {
    border-radius: 3px;
    padding: 1px;
}

#actions-container input:hover,
#actions-container select:hover,
.update-dom-elements input:hover,
.update-dom-elements select:hover {
    border: 1px solid red;
}

#actions-container button,
.update-dom-elements button {
    padding: 5px 10px;
    background-color: rgb(46, 60, 255);
    border-style: solid;
    border-width: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
}

.update-dom-elements button label {
    color: white;
}

.update-dom-elements button:hover {
    opacity: 0.8;
}

#html-file-input {
    width: 100%;
    display: none;
}

#css-file-input {
    width: 100%;
    display: none;
}