.body {  /* TODO: ésta clase se deberia exportar como body */
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);

    height: 10800px; /* TODO: no se deberia ver cuando exporte el css en consola... */
    width: 1920px; /* TODO: no se deberia ver cuando exporte el css en consola... */

    resize: both; /* TODO: no se deberia ver cuando exporte el css en consola... */
    overflow: auto; /* TODO: no se deberia ver cuando exporte el css en consola... */
}
