<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../dist/bundle.js" defer></script>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./layout.css">
    <title>App</title>
</head>
<body>
    <div id="main-container">
        <div id="components-container">
            <div class="update-dom-elements">
                <div>
                    <label> Height </label>
                    <input type="number" class="update-size-input" id="update-height">
                </div>
                <div>
                    <label> Width </label>
                    <input type="number" class="update-size-input" id="update-width">
                </div>
            </div>
            <div class="update-dom-elements">
                <div>
                    <label> Actions </label>
                    <button id="print-css-file"> Print Css File in Console </button>
                </div>
            </div>
            <div class="update-dom-elements">
                <div>
                    <label> Select Item </label>
                    <select id="select-item"></select>
                </div>
            </div>
            <div draggable="true" class="dom-element dom-element-container" id="div">Div Container</div>
            <button draggable="true" class="dom-element dom-element-button" id="button">Button</button>
            <input draggable="true" class="dom-element dom-element-input" value="Input">
        </div>
        <div id="app-container-fixed">
            <div id="app-container" class="body"></div>
        </div>
        <div id="actions-container"></div>
    </div>
</body>
</html>