.app-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);

    height: 1080px;
    width: 1920px;
}

.drag-enter-app {
    background-color: aquamarine;
}

.drag-leave-app {
    background-color: white;
}