.app-container {
    display: flex;
    flex-direction: column;

    /* Esto debe ser modificable desde el dom*/
    height: 1080px;
    width: 1920px;
    /* Esto debe ser modificable desde el dom*/
}